@each $area in $area-list-org {
  #{$area} {
    grid-area: $area;
  }
}

a {
  color: #1111cc;

  &:hover {
    > img {
      opacity: $opacity-link-hover;
    }

    > span {
      text-decoration: underline;
    }
  }
}
