h1, h2, h3, h4, h5, h6, div, a, span, p {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}


h1 {
  margin: 0;
}

a {
  color: $color-text-link;

  &:hover {
    > img {
      opacity: $opacity-link-hover;
    }

    > span {
      text-decoration: underline;
    }
  }
}

ul {
  list-style: none;
}