$margin-section-space: 30px;
$margin-list-space: 20px;
$margin-item-space-default: 10px;
$margin-item-space-small: 5px;
$margin-aside-section-space: 20px;
$margin-sp-space: 10px;
$padding-section-space: 15px;
$padding-text-space: 15px 10px;
$padding-icon-space: 5px 10px;
$padding-button-space: 0 15px;
$padding-sp-space: 10px;
$width-content-main: 860px;
$width-content-aside: 300px;
$width-content-max: $width-content-main + $width-content-aside + $margin-section-space;
$width-device-tb: 770px;
$width-device-sp: 480px;
$height-header: 80px;
$height-header-sp: $height-header / 2;
$height-breadcrumb: 40px;
$height-footer: 50px;
$height-footer-sp: $height-footer / 2;
$font-size-title: 20px;
$font-size-content-title: 20px;
$font-size-content-default: 18px;
$font-size-content-code: 14px;
$font-size-content-large: 30px;
$font-size-large: 20px;
$font-size-default: 14px;
$font-size-notes: 12px;
$font-size-icon: 10px;
$opacity-link-hover: 0.8;
$color-text-primary: #333;
$color-text-secondary: #888;
$color-text-white: #fff;
$color-text-link: #1111cc;
$color-content-primary: #6462DB;
$color-content-secondary: #9B9D24;
$color-background-aside: #eef;
$color-background-category: #eef;
$color-background-primary: #fffaf6;
$color-background-secondary: #f5f5f5;
$color-background-code: #dfdfdf;
$color-border-primary: #dbdbdb;
$color-border-secondary: #eef;
$border-radius-content: 5px;
$transition-speed-default: .3s;
