@mixin responsive($breakpoint: $width-device-sp) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin setGridDefault($isHome: false) {
  @if $isHome {
    grid-template:
      "header header" #{$height-header}
      "main aside" auto
      "footer footer" #{$height-footer} /
      #{$width-content-main} #{$width-content-aside};

    @include responsive() {
      grid-template:
        "header" (#{$height-header} / 2)
        "main" auto
        "footer" (#{$height-footer} / 2) /
        100%;
    }
  } @else {
    grid-template:
      "header header" #{$height-header}
      "nav nav" #{$height-nav}
      "main aside" auto
      "footer footer" #{$height-footer} /
      #{$width-content-main} #{$width-content-aside};

    @include responsive() {
      grid-template:
        "header" ($height-header / 2)
        "nav nav" ($height-nav / 2)
        "main" auto
        "footer" (#{$height-footer} / 2) /
        100%;
    }
  }
}
