@mixin responsive($breakpoint: $width-device-sp) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin setGridDefault($isHome: false) {
  @if $isHome {
    grid-template:
      "Header Header Header Header" #{$height-header}
      ". Main Aside ." auto
      "About About About About" auto
      "Footer Footer Footer Footer" #{$height-footer} /
      1fr #{$width-content-main} #{$width-content-aside} 1fr;

    @include responsive() {
      grid-template:
        "Header" (#{$height-header} / 2)
        "Main" auto
        "About" auto
        "Footer" (#{$height-footer} / 2) /
        100%;
    }
  } @else {
    grid-template:
      "Header Header" #{$height-header}
      "Nav Nav" #{$height-nav}
      "Main Aside" auto
      "Footer Footer" #{$height-footer} /
      #{$width-content-main} #{$width-content-aside};

    @include responsive() {
      grid-template:
        "Header" ($height-header / 2)
        "Nav Nav" ($height-nav / 2)
        "Main" auto
        "Footer" (#{$height-footer} / 2) /
        100%;
    }
  }
}
